# Dependências
node_modules/

# Arquivos de ambiente
.env
.env.local

# Logs e relatórios
logs/
*.log
cypress/screenshots/
cypress/videos/

# Arquivos do sistema e IDE
.DS_Store
.idea/
.vscode/

# Cache e temporários
.tmp/
*.tmp

# Outros
coverage/
*.jks
*.pem